<a href="https://colab.research.google.com/github/vinodhiniasha-eng/273-week1/blob/main/HW1_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW 1 Part 1: Preprocessing the Credit Approval Dataset

Perform the following tasks on the credit approval dataset (crx.data contains the dataset and crx.names contains the description of the dataset). High pass and low pass specifications are on Canvas. Please note that ALL questions labelled [LP] must be completed satisfactorily to receive a low pass on the assignment. The [HP] question specifications combine all parts of the homework. Please refer to Canvas for more details.

Note that if you are unable to complete any of the LP questions satisfactorily, you will receive a grade of "revision required". You can revise and resubmit your work in exchange for a token. Please review the syllabus for more information on specifications grading.

**VERY IMPORTANT**: Include **ALL** the references you used for this assignment, including names of classmates you discuss with. Failure to cite your sources counts as an act of academic dishonesty and will be taken seriously without zero tolerance. You will automatically receive a “fail” grade in the homework and further serious penalties may be imposed.

NOTE: You can look for help on the Internet but refrain from referencing too much. Please cite all your sources in your submission.
When you submit your assignment, you automatically agree to the following statement. If you do not agree, it is your responsibility to provide the reason.

“*I affirm that I have neither given nor received unauthorized help in completing this homework. I am not aware of others receiving such help. I have cited all the sources in the solution file.*”

In [7]:
## Your code goes here. Import the csv into a pandas dataframe here
import pandas as pd
import numpy as np

# In Colab: df = pd.read_csv("crx.data", header=None)
# In this environment (your uploaded file path):
df = pd.read_csv("/content/crx.data", header=None)

df.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

[LP 1] Deal with the missing values in the credit analysis dataset. Explain what you did with the following columns:

1. Column A1 (at index 0)
2. Column A2 (at index 1)
3. Column A4 (at index 3)
4. Column A5 (at index 4)
5. Column A6 (at index 5)
6. Column A7 (at index 6)
7. Column A14 (at index 13)

In [8]:
## Your code for LP 1 goes here.
df = df.replace("?", np.nan)
df.isna().sum()

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

In [9]:
# Column indices from the prompt
cat_missing_cols = [0, 3, 4, 5, 6]   # A1, A4, A5, A6, A7
num_missing_cols = [1, 13]           # A2, A14

# Fill categorical with mode
for col in cat_missing_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

# Ensure numeric types for continuous columns, then fill with median
for col in num_missing_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")
    df[col] = df[col].fillna(df[col].median())

df.isna().sum()[[0,1,3,4,5,6,13]]

0     0
1     0
3     0
4     0
5     0
6     0
13    0
dtype: int64


[LP 2] Use encoders and convert the categorical variables to numerical values: Columns A1, A4, A5, A6, A7, A9, A10, A12, A13

In [10]:
## Your code for LP 2 goes here.
tf_cols = [8, 9, 11]  # A9, A10, A12
for col in tf_cols:
    df[col] = df[col].map({"t": 1, "f": 0})

[HP 1] Describe your choices to preprocess these columns and explain why they are appropriate for the column.

< Your answer for HP 1 goes here >


*   Missing values were represented by "?", so I replaced them with NaN to use pandas missing-data tools.

*   For categorical columns (A1, A4, A5, A6, A7), I filled missing values using the mode (most frequent category). This is appropriate because these variables are nominal (no numeric meaning), and mode imputation preserves common patterns without inventing new categories.


*   For continuous columns (A2 and A14), I converted them to numeric and filled missing values using the median. This is appropriate because continuous features may contain outliers, and the median is more robust than the mean.


*   For binary categorical columns (A9, A10, A12), I mapped t → 1 and f → 0, which preserves the two-category meaning and produces valid numeric inputs.


*   For multi-class categorical columns (A1, A4, A5, A6, A7, A13), I used one-hot encoding so the model does not assume any ordering between categories (which would be incorrect for nominal variables).

[LP 3] Use an appropriate scaler to scale the numerical values to a suitable range of values. Briefly explain the process you used.

In [12]:
## Your code for LP 3 goes here.
from sklearn.preprocessing import MinMaxScaler

num_cols = [1, 2, 7, 10, 13, 14]  # A2, A3, A8, A11, A14, A15

scaler = MinMaxScaler()
df_encoded[num_cols] = scaler.fit_transform(df_encoded[num_cols])

df_encoded[num_cols].describe()

                1           2           7          10          13          14
count  690.000000  690.000000  690.000000  690.000000  690.000000  690.000000
mean     0.267130    0.169954    0.078014    0.035821    0.091781    0.010174
std      0.178350    0.177792    0.117422    0.072581    0.086095    0.052101
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.134135    0.035714    0.005789    0.000000    0.040000    0.000000
50%      0.221203    0.098214    0.035088    0.000000    0.080000    0.000050
75%      0.360263    0.257411    0.092105    0.044776    0.136000    0.003955
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000



*   I used MinMax scaling to transform continuous features into the range [0, 1], which prevents features with large numeric ranges from dominating model learning.

Save your clean dataset in a file called **crx_clean.data**. Submit this file along with the ipynb solution file.

In [13]:
## Your code to save the dataframe to a csv file goes here.
out_path = "crx_clean.data"
df_encoded.to_csv(out_path, index=False, header=False)
out_path

'crx_clean.data'

# References
Include ALL your references here.

# What to turn in:
1. The ipynb solution file, which includes the references
2. If you use Colab or GitHub for version control, please share a link to your notebook or GitHub repository
3. The crx_clean.data file